@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<input id="Text1" type="text" />
<input id="Submit1" type="submit" value="submit" />